<!DOCTYPE html>
<html>
<head>
    <title>RRStats - Backend</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<body>
<div id="app">
    <v-app>
        <rrstats-backend-sidebar title="RRStats backend">
            <v-main>
                <v-container fluid>
                    <v-row>
                        <v-spacer></v-spacer>
                        <v-col md="8">
                            <v-stepper v-model="step" vertical>
                                <v-stepper-step :completed="step > 1" step="1">
                                    Select checks
                                </v-stepper-step>
                                <v-stepper-content step="1">
                                    <v-list>
                                        <v-list-item two-line>
                                            <v-list-item-title><v-switch v-model="checks.score" label="Score"></v-switch></v-list-item-title>
                                            <v-list-item-subtitle>Checks for invalid scores, map- & match-winners</v-list-item-subtitle>
                                        </v-list-item>
                                        <v-list-item two-line>
                                            <v-list-item-title><v-switch v-model="checks.matchesWithoutPlayers" label="Matches without players"></v-switch></v-list-item-title>
                                            <v-list-item-subtitle>Checks for matches that have players without RRPlayer-object.</v-list-item-subtitle>
                                        </v-list-item>
                                        <v-list-item two-line>
                                            <v-list-item-title><v-switch v-model="checks.playersWithoutMatches" label="Players without matches"></v-switch></v-list-item-title>
                                            <v-list-item-subtitle>Checks for player that have no matches assigned.</v-list-item-subtitle>
                                        </v-list-item>
                                        <v-divider></v-divider>
                                        <v-list-item two-line>
                                            <v-list-item-title><v-switch v-model="rr1Suppression" label="RR1 Suppression"></v-switch></v-list-item-title>
                                            <v-list-item-subtitle>Suppress warnings & errors from RR1.</v-list-item-subtitle>
                                        </v-list-item>
                                        <v-divider></v-divider>
                                        <v-btn @click="runChecks">Run checks</v-btn>
                                    </v-list>
                                </v-stepper-content>

                                <v-stepper-step :completed="step > 2" step="2">
                                    Running checks
                                </v-stepper-step>
                                <v-stepper-content step="2">
                                    Please wait while the server runs the checks...
                                </v-stepper-content>

                                <v-stepper-step step="3">
                                    Checking results
                                </v-stepper-step>
                                <v-stepper-content step="3">
                                    Results:
                                    <v-list>
                                        <v-list-item v-for="(result, index) in results" v-if="!rr1Suppression || result.tournament !== 'RR1'" :key="index">
                                            <v-alert border="left" dense text :type="result.type">{{ result.message }}</v-alert>
                                        </v-list-item>
                                    </v-list>
                                </v-stepper-content>
                            </v-stepper>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                </v-container>
            </v-main>
            <v-snackbar
                    v-model="snackbar">
                {{ snackbarText }}
                <template v-slot:action="{ attrs }">
                    <v-btn
                            color="pink"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                    >
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </rrstats-backend-sidebar>
    </v-app>
</div>

<script src="/backend/components.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let vue = new Vue({
        el: '#app',
        vuetify: new Vuetify({theme: { dark: true }}),
        data() {
            return {
                snackbar: false,
                snackbarText: "",
                checks: {
                    score: false,
                    playersWithoutMatches: false,
                    matchesWithoutPlayers: false
                },
                rr1Suppression: true,
                results: [],
                step: 1
            }
        },
        methods: {
            async runChecks() {
                this.step = 2;
                let response = await axios.post("/backend/api/databaseChecks", this.checks)
                console.log(response);
                this.results = response.data;
                this.step = 3;
            }
        }
    })
</script>
</body>
</html>