<!DOCTYPE html>
<html>
    <head>
        <title>RRStats - Backend login</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container fluid fill-height>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="6">
                                <v-card>
                                    <v-card-title>Login</v-card-title>
                                    <v-card-text>
                                        <v-form action="/backend/login" method="POST">
                                            <v-text-field v-model="username" name="username" clearable label="Username" prepend-inner-icon="mdi-account"></v-text-field>
                                            <v-text-field v-model="password" name="password" clearable label="Password" prepend-inner-icon="mdi-key-variant" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                :type="showPassword? 'text' : 'password'"
                                                @click:append="showPassword = !showPassword"></v-text-field>
                                            <v-btn text type="submit">Login</v-btn>
                                        </v-form>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <script>
            let vue = new Vue({
                el: '#app',
                vuetify: new Vuetify({theme: { dark: true }}),
                data() {
                    return {
                        username: "",
                        password: "",
                        showPassword: false
                    }
                }
            })
        </script>
    </body>
</html>