<!DOCTYPE html>
<html>
<head>
    <title>RRStats - Backend</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<body>
<div id="app">
    <v-app>
        <rrstats-backend-sidebar title="RRStats backend">
            <v-main>
                <v-container fluid>
                    <v-row>
                        <v-spacer></v-spacer>
                        <v-col md="8">
                            <v-data-table
                                :headers="headers"
                                :items="records"
                                :search="search"
                                disable-sort>

                                <template v-slot:top>
                                    <v-toolbar>
                                        <v-toolbar-title>Records</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" class="mt-5" single-line></v-text-field>
                                        <v-spacer></v-spacer>
                                        <v-dialog v-model="editDialog" max-width="1000px">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn color="success" v-bind="attrs" v-on="on">Add Item</v-btn>
                                            </template>

                                            <v-card>
                                                <v-card-title>Edit Record - {{ itemEdit.uuid }}</v-card-title>
                                                <v-card-text>
                                                    <v-container>
                                                        <v-row>
                                                            <v-col cols="12" md="4">
                                                                <v-text-field v-model="itemEdit.category" label="Category" prepend-icon="mdi-account"></v-text-field>
                                                            </v-col>
                                                            <v-col cols="12" md="4">
                                                                <v-switch v-model="itemEdit.isMapRecord" label="Is map record" prepend-icon="mdi-account"></v-switch>
                                                            </v-col>
                                                            <v-col cols="12" md="4">
                                                                <v-text-field v-model="itemEdit.match" label="Match" prepend-icon="mdi-account"></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row>
                                                            <v-col cols="12" md="4">
                                                                <v-text-field type="number" v-model="itemEdit.sortingIndex" label="Sorting index" prepend-icon="mdi-account"></v-text-field>
                                                            </v-col>
                                                            <v-col cols="12" md="4">
                                                                <v-text-field v-model="itemEdit.time" type="number" label="Time (in seconds)" prepend-icon="mdi-account"></v-text-field>
                                                            </v-col>
                                                            <v-col cols="12" md="4">
                                                                <v-text-field v-model="itemEdit.videoLink" label="Video link" prepend-icon="mdi-account"></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row>
                                                            <v-col cols="36" md="12">
                                                                <v-text-field v-model="itemEdit.details" label="Maps / Spin" prepend-icon="mdi-account"></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row>
                                                            <v-col cols="24" md="8">
                                                                <v-btn @click="addPlayer">Add Player</v-btn>
                                                                <v-simple-table>
                                                                    <template v-slot:default>
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Player Id</th>
                                                                                <th>Delete</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr v-for="(player, index) in itemEdit.players" :key="index">
                                                                                <td><v-text-field v-model="player.content"></v-text-field></td>
                                                                                <td><v-icon @click="deletePlayer(index)">mdi-delete</v-icon></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </template>
                                                                </v-simple-table>
                                                            </v-col>
                                                            <v-col cols="12" md="4">
                                                                <v-card>
                                                                    <b>Player Name & ID - Lookup</b>
                                                                    <v-divider></v-divider>
                                                                    <v-text-field v-model="playerToId" label="Player name"></v-text-field><br>
                                                                    <v-btn class="mr-5" @click="playerNameToId">Player name -> ID</v-btn>
                                                                    <v-btn @click="playerIdToName">Player ID -> Name</v-btn><br>
                                                                    <v-text-field v-model="idToPlayer" label="Player id"></v-text-field>
                                                                </v-card>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>
                                                </v-card-text>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn @click="close">Cancel</v-btn>
                                                    <v-btn @click="save">Save</v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>
                                        <v-dialog v-model="deleteConfirmDialog" max-width="500px">
                                            <v-card>
                                                <v-card-title>Are you sure you want to delete this item?</v-card-title>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn text @click="closeDelete">Cancel</v-btn>
                                                    <v-btn text @click="deleteConfirm">Delete</v-btn>
                                                    <v-spacer></v-spacer>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>
                                    </v-toolbar>
                                </template>
                                <template v-slot:item.actions="{ item }">
                                    <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
                                    <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
                                </template>
                            </v-data-table>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                </v-container>
            </v-main>
            <v-snackbar
                    v-model="snackbar">
                {{ snackbarText }}
                <template v-slot:action="{ attrs }">
                    <v-btn
                            color="pink"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                    >
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </rrstats-backend-sidebar>
    </v-app>
</div>

<script src="/backend/components.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let vue = new Vue({
        el: '#app',
        vuetify: new Vuetify({theme: { dark: true }}),
        data() {
            return {
                snackbar: false,
                snackbarText: "",
                headers: [{
                    text: "Category",
                    value: "category"
                },{
                    text: "Time",
                    value: "time"
                },{
                    text: "",
                    value: "actions"
                }],
                records: [],
                search: "",
                editDialog: false,
                playerToId: "",
                idToPlayer: "",
                itemEdit: {
                    category: "",
                    players: [],
                    isMapRecord: false,
                    match: "",
                    details: "",
                    time: 0,
                    videoLink: "",
                    sortingIndex: 0
                },
                defaultItem: {
                    category: "",
                    players: [],
                    isMapRecord: false,
                    match: "",
                    details: "",
                    time: 0,
                    videoLink: "",
                    sortingIndex: 0
                },
                editIndex: -1,
                deleteConfirmDialog: false
            }
        },
        methods: {
            addPlayer() {
                this.itemEdit.players.push({content: ""});
            },
            deletePlayer(index) {
                this.itemEdit.players.splice(index, 1);
            },
            async playerIdToName() {
                let response = await axios.get("/backend/api/playerLookup?id=" + this.idToPlayer);
                this.playerToId = response.data.name;
            },
            async playerNameToId() {
                let response = await axios.get("/backend/api/playerLookup?name=" + this.playerToId);
                this.idToPlayer = response.data.uuid;
            },
            close() {
                this.editDialog = false;
                this.$nextTick(() => {
                    this.editIndex = -1;
                    this.itemEdit = Object.assign({}, this.defaultItem);
                })
            },
            async save() {
                this.itemEdit.players = this.itemEdit.players.map(e => e.content);
                if(this.editIndex > -1) {
                    // Existing comp edited
                    let response = await axios.patch("/backend/api/records", this.itemEdit);
                    if(response.data.success) {
                        Object.assign(this.records[this.editIndex], this.itemEdit);
                        this.close();
                    } else {
                        this.close();
                        this.snackbarText = `Error: ${response.data.error}`;
                        this.snackbar = true;
                    }
                } else {
                    // New comp created
                    let response = await axios.put("/backend/api/records", this.itemEdit);
                    if(response.data.success) {
                        this.records.push(this.itemEdit);
                        this.snackbarText = "Item successfully created & appended."
                        this.snackbar = true;
                        this.close();
                    } else {
                        this.close();
                        this.snackbarText = `Error: ${response.data.error}`;
                        this.snackbar = true;
                    }
                }
            },
            closeDelete() {
                this.deleteConfirmDialog = false;
                this.$nextTick(() => {
                    this.editIndex = -1;
                    this.itemEdit = Object.assign({}, this.defaultItem);
                })
            },
            async deleteConfirm() {
                this.itemEdit.players = this.itemEdit.players.map(e => e.content);
                let response = await axios.delete("/backend/api/records", {data: this.itemEdit});
                if(response.data.success) {
                    this.records.splice(this.editIndex, 1);
                    this.closeDelete()
                } else {
                    this.closeDelete();
                    this.snackbarText = `Error: ${response.data.error}`;
                    this.snackbar = true;
                }
            },
            editItem(item) {
                this.editIndex = this.records.indexOf(item);
                this.itemEdit = Object.assign({}, item);
                this.itemEdit.players = this.itemEdit.players.map(e => { return {content: e}});
                this.editDialog = true;
            },
            deleteItem(item) {
                this.editIndex = this.records.indexOf(item);
                this.itemEdit = Object.assign({}, item);
                this.itemEdit.players = this.itemEdit.players.map(e => { return {content: e}});
                this.deleteConfirmDialog = true;
            }
        },
        async created() {
            let records = await axios.get("/backend/api/records");
            this.records = records.data;
        }
    })
</script>
</body>
</html>