<!DOCTYPE html>
<html>
<head>
    <title>RRStats - Backend</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<body>
<div id="app">
    <v-app>
        <rrstats-backend-sidebar title="RRStats backend">
            <v-main>
                <v-container fluid>
                    <v-row>
                        <v-spacer></v-spacer>
                        <v-col md="8">
                            <h1>Tweet from the official @rrstats-Account</h1>
                            <span style="font-style: italic">Please use this feature with great care.</span>
                            <v-list v-for="(tweet, index) in tweets" :key="index">
                                <v-textarea v-model="tweet.content" counter="280"></v-textarea>
                                <v-icon @click="removeTweet(index)">mdi-delete</v-icon>
                            </v-list>
                            <v-btn @click="addTweet">Add tweet to thread</v-btn>
                            <v-btn @click="sendTweets">Send tweets</v-btn>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                </v-container>
            </v-main>
            <v-snackbar
                    v-model="snackbar">
                {{ snackbarText }}
                <template v-slot:action="{ attrs }">
                    <v-btn
                            color="pink"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                    >
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </rrstats-backend-sidebar>
    </v-app>
</div>

<script src="/backend/components.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let vue = new Vue({
        el: '#app',
        vuetify: new Vuetify({theme: { dark: true }}),
        data() {
            return {
                snackbar: false,
                snackbarText: "",
                tweets: []
            }
        },
        methods: {
            addTweet() {
                this.tweets.push({content: ""});
            },
            removeTweet(index) {
                this.tweets.splice(index, 1);
            },
            async sendTweets() {
                for(let tweet of this.tweets) {
                    if(tweet.content.length > 280) {
                        this.snackbarText = "Make sure all tweets are at most 280 characters!";
                        this.snackbar = true;
                        return;
                    }
                }

                let response = await axios.post("/backend/api/tweet", this.tweets.map(e => e.content));
                if(response.data.success) {
                    this.tweets = [{content: ""}];
                    this.snackbarText = "Successfully tweeted.";
                    this.snackbar = true;
                } else {
                    this.snackbarText = "Failed to tweet.";
                    this.snackbar = true;
                }
            }
        },
        created() {
            if(window.location.search.length > 4) {
                for(let param of window.location.search.substr(1).split("&")) {
                    let splitParam = param.split("=");
                    if(splitParam[0] == "tweet") {
                        this.tweets.push({content: unescape(splitParam[1])});
                    }
                }
            }
            if(this.tweets.length == 0) {
                this.tweets.push({content: ""});
            }
        }
    })
</script>
</body>
</html>