<!DOCTYPE html>
<html>
<head>
    <title>Changelog - rrstats</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        #app {
            background-image: url("./background.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-btn href="/" icon><v-icon>mdi-arrow-left-circle</v-icon></v-btn>
                <v-container fluid>
                    <v-row>
                        <v-spacer></v-spacer>
                        <v-col md="8" align="center">
                            <h1 style="font-size: 3.2rem">Changelog</h1>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                    <v-row v-for="(entry, idx) in changelogEntries" :key="idx" class="mb-5">
                        <v-spacer></v-spacer>
                        <v-card elevation="2" width="800px">
                            <v-card-title>{{ entry.title }}</v-card-title>
                            <v-card-subtitle>{{ entry.subtitle }}</v-card-subtitle>
                            <v-card-text>
                                <div v-for="(line, idx) in entry.text" :key="idx">{{ line }}<br></div>
                                <br>
                                <h5>Detailed changelog:</h5>
                                <ul>
                                    <li v-for="(point, idx) in entry.details" :key="idx">{{ point }}</li>
                                </ul>
                            </v-card-text>
                        </v-card>
                        <v-spacer></v-spacer>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script>
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify({ theme: { dark: true } }),
            data() {
                return {
                    changelogEntries: [
                        {
                            title: "v2.1 - The first fixes",
                            subtitle: "Released 23rd January 2022",
                            text: [],
                            details: [
                                "Re-added Colorado & Haven to the leaderboards page",
                                "Fixed some backend stuff",
                                "Disabled vue dev mode",
                                "Player names are correctly listed on records page again"
                            ]
                        }, {
                            title: "v2.0 - The great revamp",
                            subtitle: "Released 20th January 2022",
                            text: [
                                "There is a serious ton to cover here.",
                                "Basically, nothing of rrstats got away untouched here - almost everything got a rewrite.",
                                "There might be even that much that I'm forgetting stuff here - I hope I dont though.",
                                "",
                                "There was a lot of crappy code in rrstats, which just piled up over several months -",
                                "New features and quick bugfixes without clean code made it much more difficult to maintain.",
                                "While the code isn't super clean now either, I feel like it at least improved, and should allow for easier maintainability in the future.",
                                "",
                                "But enough with my boring tech talk: Here's a quick rundown of the new things:",
                                "Revamped the entire UI, switched frameworks, and also added a changelog page (which you're looking at right now).",
                                "This new UI hopes to look more modern, feature easier navigation & a better layout.",
                                "Rewrote the whole backend server and switched database architecture, making the whole thing quicker and more robust.",
                                "Updated that buggy mess of a Google Sheets parser. As long as In4Fun doesn't drastically change the layout of the sheets,",
                                "rrstats should now be able to get all matches of a tournament on it's own.",
                                "Couple of smaller things here and there, for you to discover, or read below.",
                                "Hope you are enjoying this new layout & design, and hope everything works properly.",
                                "If it doesn't, feel free to message me on discord about it :)"
                            ],
                            details: [
                                "Reworked the landing, player, records & leaderboards pages",
                                "Linking back to the hitmaps tournament-statistics-pages for individual tournaments",
                                "Brand new changelog page",
                                "Better backend UI to allow for quicker editing of basic data",
                                "New database based on MongoDB, no more 'accidentally overriding player profile pictures'",
                                "Seperating serverside-logic more, allows for easier maintainability",
                                "rrstats can tweet on it's own now",
                                "Better caching of discord & Google Drive responses should make load times quicker",
                                "Removed 'Percentage of matches with deciders' and 'Winrate of decider maps' leaderboard stats, because they were inaccurate",
                                "Multiple players can hold map records for the same map with identical times, but different spins, etc.",
                                "Brand new Google Sheet-parser which should work more consistently and allows for multi-line matches (like grand finals) to be detected automatically"
                            ]
                        }
                    ]
                }
            }
        })
    </script>
</body>
</html>
