<!DOCTYPE html>
<html>
<head>
  <title>Roulette Rivals Player Statistics</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    html { overflow-y: auto }
    #app {
        background-image: url("./background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container fluid>
            <v-row>
              <v-spacer></v-spacer>
                <v-col md="8" align="center">
                    <h1 style="font-size: 3.5rem;">Roulette Rivals Player Stats</h1>
                </v-col>
                <v-spacer></v-spacer>
            </v-row>
            <v-row style="margin-top: 150px">
                <v-spacer></v-spacer>
                <v-col md="6">
                    <v-card elevation="12">
                        <v-card-title>
                            <v-tabs v-model="tabSelected">
                                <v-tab>Player Search</v-tab>
                                <v-tab>Leaderboards</v-tab>
                                <v-tab>Records</v-tab>
                                <v-menu offset-y>
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-tab v-bind="attrs" v-on="on">Tournament Statistics</v-tab>
                                  </template>
                                  <v-list>
                                    <v-list-item v-for="comp in competitions" v-if="comp.hitmapsStatsURL !== ''" :href="comp.hitmapsStatsURL" target="_blank" :key="comp.tag">
                                      <v-list-item-icon><v-icon>mdi-open-in-new</v-icon></v-list-item-icon>
                                      <v-list-item-title>{{ comp.tag }}</v-list-item-title>
                                    </v-list-item>
                                  </v-list>
                                </v-menu>
                            </v-tabs>
                        </v-card-title>
                        <v-card-text>
                          <v-combobox :menu-props="menuProps" :items="players" :search-input.sync="playerSearch" label="Player" @keyup="search"></v-combobox>
                          <v-btn
                          color="primary"
                          elevation="2"
                          outlined
                          @click="searchButton"
                          >Search</v-btn>
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-spacer></v-spacer>
            </v-row>
            <v-row>
                <v-spacer></v-spacer>
                <v-col md="6" align="center">
                    <a href="/changelog" style="font-size: 0.8rem">Changelog (v{{ version }})</a>
                </v-col>
                <v-spacer></v-spacer>
            </v-row>
            <v-row>
                <v-col md="12">
                    <v-footer absolute padless>
                        <span style="font-style: italic; text-align: center; width: 100%">Made with precision german engineering, calculated hungarian stats & accurate german timings.</span>
                    </v-footer>
                </v-col>
            </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    let vue = new Vue({
      el: '#app',
      vuetify: new Vuetify({theme: { dark: true }}),
      data () {
          return {
            players: [],
            tabSelected: 0,
            playerSearch: null,
            competitions: [],
            version: ""
          }
      },
      methods: {
          search: (val) => {
            if(val.keyCode === 13) {
                window.location.href = "/" + vue.playerSearch;
            }
          },
          searchButton: () => {
            window.location.href = "/" + vue.playerSearch;
          }
      },
      watch: {
          tabSelected: (val) => {
              switch(val) {
                case 1:
                  window.location.href = "/leaderboards"
                  break;
                case 2:
                  window.location.href = "/records"
                  break;
              }
              vue.$nextTick(() => {
                vue.tabSelected = 0;
              })
          }
      },
      computed: {
        menuProps() {
          return !this.playerSearch ? {value: false} : {}
        }
      },
      async created() {
        let frontpageData = await axios.get("/frontpageInfo");
        this.players = frontpageData.data.players;
        this.competitions = frontpageData.data.competitions;
        this.version = frontpageData.data.version;
      }
    })
  </script>
</body>
</html>