<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboards - RR Player Statistics</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <style>
            html { overflow-y: auto }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container fluid>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="8" align="center">
                                <h1 style="font-size: 3.2rem;">Leaderboards</h1>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="4">
                                <v-select dense v-model="stat" @change="getStat" :items="statsList" label="Statistic" item-text="name" item-value="tag"></v-select>
                            </v-col>
                            <v-col md="4">
                                <v-select dense v-model="map" @change="getStat" :items="maps" label="Map" item-text="name" item-value="tag" v-if="stat == 'MapPlayed' || stat == 'MapWinrate'"></v-select>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col justify="center" md="8">
                                <v-text-field v-model="search" append-icon="mdi-magnify" label="Search"></v-text-field>
                                <v-data-table
                                :headers="headers"
                                :items="stats"
                                :search="search"
                                >
                                </v-data-table>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-footer absolute padless>
                            <span style="font-style: italic; text-align: center; width: 100%">Made with precision german engineering, calculated hungarian stats & accurate german timings.</span>
                        </v-footer>
                    </v-container>
                </v-main>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            let vue = new Vue({
                el: '#app',
                vuetify: new Vuetify({theme: {dark: true}}),
                data () {
                    return {
                        headers: [{
                            text: '#',
                            align: 'start',
                            value: 'placement'
                        }, {
                            text: 'Player',
                            sortable: false,
                            value: 'player'
                        }, {
                            text: 'Score',
                            value: 'score'
                        }],
                        stat: "",
                        search: "",
                        statsList: [{
                            name: "Winrate",
                            tag: "WR"
                        },{
                            name: "Map Winrate",
                            tag: "MapWinrate"
                        },{
                            name: "Participating in Roulette Rivals Tournaments",
                            tag: "RRParticipations"
                        },{
                            name: "Participations in Roulette Rivals World Championships",
                            tag: "RRWCParticipations"
                        },{
                            name: "Appearances in the Grand Finals",
                            tag: "FinalAppearances"
                        },{
                            name: "Amount of matches",
                            tag: "Matches"
                        },{
                            name: "Winrate of own-map-picks",
                            tag: "OwnMapWinrate"
                        },{
                            name: "Winrate of opponent-map-picks",
                            tag: "OpponentMapWinrate"
                        },{
                            name: "Longest winning-streak",
                            tag: "LongestWinSpree"
                        },{
                            name: "Amount of matches on map",
                            tag: "MapPlayed"
                        },{
                            name: "Winrate on map",
                            tag: "MapWinrate"
                        }],
                        maps: [{
                            name: "-- Season 1 --",
                            tag: "S1",
                            disabled: true
                        },{
                            name: "Paris",
                            tag: "PAR"
                        },{
                            name: "Sapienza",
                            tag: "SAP"
                        },{
                            name: "Marrakesh",
                            tag: "MAR"
                        },{
                            name: "Bangkok",
                            tag: "COL"
                        },{
                            name: "Colorado",
                            tag: "COL"
                        },{
                            name: "Hokkaido",
                            tag: "HOK"
                        },{
                            name: "-- Season 2 --",
                            tag: "S2",
                            disabled: true
                        },{
                            name: "Miami",
                            tag: "MIA"
                        },{
                            name: "Santa Fortuna",
                            tag: "SF"
                        },{
                            name: "Mumbai",
                            tag: "MUM"
                        },{
                            name: "Whittleton Creek",
                            tag: "WC"
                        },{
                            name: "Isle of Sgàil",
                            tag: "SGA"
                        },{
                            name: "New York",
                            tag: "NY"
                        },{
                            name: "-- Season 3 --",
                            tag: "S3",
                            disabled: true
                        },{
                            name: "Dubai",
                            tag: "DUB"
                        },{
                            name: "Dartmoor",
                            tag: "DAR"
                        },{
                            name: "Berlin",
                            tag: "BER"
                        },{
                            name: "Chongqing",
                            tag: "CHO"
                        },{
                            name: "Mendoza",
                            tag: "MEN"
                        }],
                        stats: [],
                        map: ""
                    }
                },
                methods: {
                    async getStat() {
                        let query = '/api/leaderboards?stat=' + this.stat;
                        if(this.map !== undefined && this.map !== "") {
                            query += "&map=" + this.map;
                        }
                        let leaderboardData = await axios.get(query);
                        this.stats = [];
                        leaderboardData.data.order.forEach((e, idx) => {
                            let obj = {
                                placement: idx+1,
                                player: e,
                                score: ""
                            };
                            switch(vue.stat) {
                                case "WR":
                                    obj.score = Math.floor((leaderboardData.data.rankings[e].won/leaderboardData.data.rankings[e].matches)*1000) / 10 + "%";
                                    break;
                                case "RRParticipations":
                                    obj.score = leaderboardData.data.rankings[e].rrCompetitions.length;
                                    break;
                                case "RRWCParticipations":
                                    obj.score = leaderboardData.data.rankings[e].rrwcCompetitions.length;
                                    break;
                                case "Matches":
                                    obj.score = leaderboardData.data.rankings[e].matches;
                                    break;
                                case "FinalAppearances":
                                    obj.score = leaderboardData.data.rankings[e].grandFinalAppearances;
                                    break;
                                case "LongestWinSpree":
                                    obj.score = leaderboardData.data.rankings[e].longestWinningSpree;
                                    break;
                                case "MapPlayed":
                                    obj.score = leaderboardData.data.rankings[e].mapsPlayed[vue.mapAbbreviationToArrayIndex(vue.map)];
                                    break;
                                case "MapWR":
                                    obj.score = Math.floor((leaderboardData.data.rankings[e].mapsWon[vue.mapAbbreviationToArrayIndex(vue.map)] / leaderboardData.data.rankings[e].mapsPlayed[mapAbbreviationToArrayIndex(vue.map)])*1000)/10 + "%";
                                    break;
                                case "OwnMapWinrate":
                                    obj.score = Math.floor((leaderboardData.data.rankings[e].ownMapsWon / leaderboardData.data.rankings[e].ownMaps) * 1000) / 10 + "%";
                                    break;
                                case "OpponentMapWinrate":
                                    obj.score = Math.floor((leaderboardData.data.rankings[e].opponentMapsWon / leaderboardData.data.rankings[e].opponentMaps) * 1000) / 10 + "%";
                                    break;
                                case "MapWinrate":
                                    obj.score = Math.floor((leaderboardData.data.rankings[e].mapsWonAmount / leaderboardData.data.rankings[e].mapsPlayedAmount) * 1000) / 10 + "%";
                                    break;
                            }
                            this.stats.push(obj);
                        });

                    },
                    mapAbbreviationToArrayIndex(abv) {
                        switch(abv) {
                            // Season 1
                            case "PAR":
                                return 0
                            case "SAP":
                                return 1
                            case "MAR":
                                return 2
                            case "BKK":
                                return 3
                            case "COL":
                                return 4
                            case "HOK":
                                return 5
                            
                            // Season 2
                            case "MIA":
                                return 6
                            case "SF":
                                return 7
                            case "MUM":
                                return 8
                            case "WC":
                                return 9
                            case "SGA":
                                return 10
                            case "NY":
                                return 11
                            case "HAV":
                                return 12

                            // Season 3
                            case "DUB":
                                return 13
                            case "DAR":
                                return 14
                            case "BER":
                                return 15
                            case "CHO":
                                return 16
                            case "MEN":
                                return 17
                            
                            default:
                                return "Unknown"
                        }
                    }
                }
            })
        </script>
    </body>
</html>