<!DOCTYPE html>
<html>
    <head>
        <title id="title">RR Player Statistics</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <style>
            .italic {
                font-style: italic;
            }
            .v-application .yellow {
                background-color: #d0c033 !important;
                border-color: #d0c033 !important;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container fluid>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="6" align="center">
                                <v-avatar
                                color="primary"
                                size="128"
                                >
                                <img :src="player.avatar" alt="">
                                </v-avatar><br>
                                <h1 style="font-size: 2.5rem">{{ name }}</h1>
                                <h2 :class="{ italic: player.customTitle }">{{ player.title }}</h2>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="4" align="center">
                                <span class="italic">Matches played: </span>
                                <span>{{ player.matches.length }}</span>
                            </v-col>
                            <v-col md="4" align="center">
                                <span class="italic">Winrate: </span>
                                <span>{{ winrate }}</span><br>
                                <span class="italic">Map-Winrate: </span>
                                <span>{{ mapWinrate }}</span>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="3">
                                <br><br><br>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th>Competition</th>
                                                <th>Placement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="comp in player.competitions" :key="comp.name + comp.placements[0].bracket">
                                                <td>
                                                    {{ comp.name }}
                                                    <span v-if="comp.placements[0].bracket !== ''"> - {{ comp.placements[0].bracket }}</span>
                                                </td>
                                                <td>
                                                    <v-chip :color="getPlacementColor(comp.placements[0].placement)">{{ comp.placements[0].placement }}{{ placementEnding(comp.placements[0].placement) }}</v-chip>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                            <v-col md="6">
                                <v-text-field v-model="matchSearch" append-icon="mdi-magnify" label="Search"></v-text-field>
                                <v-data-table
                                    :headers="matchTableHeaders"
                                    :items="player.matches"
                                    :search="matchSearch"
                                    items-per-page=5
                                    disable-sort>

                                    <template v-slot:item.round="{ item }">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <span v-bind="attrs" v-on="on">{{ item.round }}</span>
                                            </template>
                                            <span>{{ timestampToString(item.timestamp) }}</span>
                                        </v-tooltip>
                                    </template>
                                    <template v-slot:item.score="{ item }">
                                        <v-chip :color="getMatchColor(item)">
                                            {{ item.score.player1Points }}-{{ item.score.player2Points }}
                                        </v-chip>
                                    </template>
                                    <template v-slot:item.maps="{ item }">
                                        <v-tooltip bottom v-for="(map, index) in item.maps" :key="index">
                                            <template v-slot:activator="{ on, attrs }">
                                              <v-chip :key="index" v-bind="attrs" v-on="on" :color="getMapColor(item, map)">
                                                    {{ map.map }}
                                                </v-chip>
                                            </template>
                                            <span>Map: {{ mapAbbreviationToFullName(map.map) }}</span><br>
                                            <span>Picked by: {{ playerNumberToName(item, map.picked, "RNG") }}</span><br>
                                            <span>Won by: {{ playerNumberToName(item, map.picked, "Tie") }}</span>
                                        </v-tooltip>
                                    </template>
                                </v-data-table>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="4">
                                <v-select v-model="mapPicksComps"
                                    label="Competitions"
                                    multiple
                                    small-chips
                                    chips
                                    deletable-chips
                                    dense
                                    :items="competitions"
                                    @change="recalculateMapPicksWinrates"></v-select>
                                <v-data-table
                                    :headers="mapPicksHeaders"
                                    :items="mapPicks"
                                    must-sort="true"
                                    sort-desc="true"
                                    sort-by="picked">
                                </v-data-table>
                            </v-col>
                            <v-col md="4">
                                <v-select v-model="mapWinratesComps"
                                    label="Competitions"
                                    multiple
                                    dense
                                    small-chips
                                    chips
                                    deletable-chips
                                    :items="competitions"
                                    @change="recalculateMapPicksWinrates"></v-select>
                                <v-data-table
                                    :headers="mapWinratesHeaders"
                                    :items="mapWinrates"
                                    must-sort="true"
                                    sort-desc="true"
                                    sort-by="wr">
                                </v-data-table>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                    </v-container>

                    <v-footer absolute padless>
                        <span style="font-style: italic; text-align: center; width: 100%">Made with precision german engineering, calculated hungarian stats & accurate german timings.</span>
                    </v-footer>
                </v-main>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
        <script>
            let vue = new Vue({
                el: '#app',
                vuetify: new Vuetify({theme: {dark: true}}),
                data () {
                    return {
                        name: "",
                        player: {
                            avatar: "",
                            title: "",
                            customTitle: true,
                            competitions: [],
                            matches: []
                        },
                        matchSearch: "",
                        matchTableHeaders: [{
                            text: '',
                            value: 'competition'
                        },{
                            text: '',
                            value: 'platform'
                        },{
                            text: '',
                            value: 'round'
                        },{
                            text: 'Player 1',
                            value: 'player1'
                        },{
                            text: '',
                            value: 'score'
                        },{
                            text: 'Player 2',
                            value: 'player2'
                        },{
                            text: 'Maps',
                            value: 'maps'
                        }],
                        competitions: [{
                            text: "RR3",
                            value: 'RR3'
                        },{
                            text: "RRWC",
                            value: 'RRWC'
                        },{
                            text: "RR4",
                            value: 'RR4'
                        },{
                            text: "RR5",
                            value: 'RR5'
                        },{
                            text: "RR6",
                            value: 'RR6'
                        },{
                            text: "RRWC2021",
                            value: 'RRWC2021'
                        }],
                        mapPicksHeaders: [{
                            text: 'Map',
                            value: 'map',
                            sortable: false
                        },{
                            text: 'Picked',
                            value: 'picked'
                        }],
                        mapWinratesHeaders: [{
                            text: "Map",
                            value: "map",
                            sortable: false
                        },{
                            text: "Winrate",
                            value: "wr",
                            sort: (a,b) => { return parseInt(a.substring(0, a.length-1)) - parseInt(b.substring(0, b.length-1)) }
                        },{
                            text: "Won",
                            value: "won"
                        },{
                            text: "Played",
                            value: "played"
                        }],
                        mapWinratesComps: ['RR3', 'RRWC', 'RR4', 'RR5', 'RR6', 'RRWC2021'],
                        mapPicksComps: ['RR3', 'RRWC', 'RR4', 'RR5', 'RR6', 'RRWC2021'],
                        mapWinrates: [],
                        mapPicks: []
                    }
                },
                computed: {
                    winrate() {
                        let wonMatches = 0;
                        this.player.matches.forEach(e => {
                            const localPlayer = e.player1 == this.name ? 1 : 2;
                            if(e.score.winner == localPlayer) wonMatches += 1;
                        })
                        return Math.round((wonMatches / this.player.matches.length) * 1000) / 10 + "%";
                    },
                    mapWinrate() {
                        let wonMaps = 0;
                        let playedMaps = 0;
                        this.player.matches.forEach(e => {
                            const localPlayer = e.player1 == this.name ? 1 : 2;
                            e.maps.forEach(m => {
                                playedMaps += 1;
                                if(m.winner == localPlayer) wonMaps += 1;
                            });
                        })
                        return Math.round((wonMaps / playedMaps) * 1000) / 10 + "%";
                    }
                },
                methods: {
                    recalculateMapPicksWinrates() {
                        let picked = {};
                        let won = {};
                        let played = {};
                        for(let m of this.player.matches) {
                            if(!this.mapWinratesComps.includes(m.competition) && !this.mapPicksComps.includes(m.competition)) continue;
                            const localPlayer = m.player1 == this.name ? 1 : 2;
                            m.maps.forEach(map => {
                                if(played[map.map] == undefined) {
                                    played[map.map] = 0;
                                    picked[map.map] = 0;
                                    won[map.map] = 0;
                                }
                                if(this.mapWinratesComps.includes(m.competition)) {
                                    played[map.map] += 1;
                                    if(map.winner == localPlayer) won[map.map] += 1;
                                    if(map.winner == 0) won[map.map] += 0.5;
                                }
                                if(this.mapPicksComps.includes(m.competition)) {
                                    if(map.picked == localPlayer) picked[map.map] += 1;
                                }
                            });
                        }
                        let pickRate = [];
                        let winRate = [];
                        for(let map in played) {
                            if(played[map] > 0) {
                                winRate.push({
                                    'map': this.mapAbbreviationToFullName(map),
                                    'wr': Math.round((won[map] / played[map]) * 1000) / 10 + "%",
                                    'played': played[map],
                                    'won': won[map]
                                });
                            }
                            if(picked[map] > 0) {
                                pickRate.push({'map': this.mapAbbreviationToFullName(map), 'picked': picked[map]});
                            }
                        }
                        this.mapWinrates = winRate;
                        this.mapPicks = pickRate;
                    },
                    placementEnding(placement) {
                       if(placement >= 11 && placement <= 13) return "th";
                       if(placement % 10 == 3) return "rd";
                       if(placement % 10 == 2) return "nd";
                       if(placement % 10 == 1) return "st";
                       return "th";
                    },
                    playerNumberToName(match, number, defaultName) {
                        if(number == 1) return match.player1;
                        if(number == 2) return match.player2;
                        return defaultName;
                    },
                    getMapColor(match, map) {
                        if(map.winner == 1 && match.player1 == vue.name) return "green";
                        if(map.winner == 2 && match.player2 == vue.name) return "green";
                        if(map.winner !== 1 && map.winner !== 2) return "yellow";
                        return "red";
                    },
                    getMatchColor(match) {
                        if(match.score.winner == 1 && match.player1 == vue.name) return "green";
                        if(match.score.winner == 2 && match.player2 == vue.name) return "green";
                        if(match.score.winner !== 1 && match.score.winner !== 2) return "yellow";
                        return "red";
                    },
                    getPlacementColor(placement) {
                        if(placement == 1) return "#d6af36";
                        if(placement == 2) return "#a7a7ad";
                        if(placement == 3) return "#a77044";
                        return "#555";
                    },
                    timestampToString(timestamp) {
                        return luxon.DateTime.fromISO(timestamp).toLocaleString(luxon.DateTime.DATETIME_FULL)
                    },
                    mapAbbreviationToFullName(abv)  {
                        switch(abv) {
                            // Season 1
                            case "PAR":
                                return "Paris"
                            case "SAP":
                                return "Sapienza"
                            case "MAR":
                                return "Marrakesh"
                            case "BKK":
                                return "Bangkok"
                            case "COL":
                                return "Colorado"
                            case "HOK":
                                return "Hokkaido"
                            
                            // Season 2
                            case "MIA":
                                return "Miami"
                            case "SF":
                                return "Santa Fortuna"
                            case "MUM":
                                return "Mumbai"
                            case "WC":
                                return "Whittleton Creek"
                            case "SGA":
                                return "Isle of Sgàil"
                            case "NY":
                                return "New York"
                            case "HAV":
                                return "Haven Island"

                            // Season 3
                            case "DUB":
                                return "Dubai"
                            case "DAR":
                                return "Dartmoor"
                            case "BER":
                                return "Berlin"
                            case "CHO":
                                return "Chongqing"
                            case "MEN":
                                return "Mendoza"
                            
                            default:
                                return "Unknown"
                        }
                    }
                },
                async created() {
                    this.name = window.location.pathname.substring(1);
                    let playerData = await axios.get("/api/" + this.name);
                    this.player = playerData.data;
                    document.getElementById("title").innerText = this.name + " - RR Player Statistics";
                    this.recalculateMapPicksWinrates();
                }
            })
        </script>
    </body>
</html>