<!DOCTYPE html>
<html>
    <head>
        <title>Records - RR Player Statistics</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <style>
            .playerLink + .playerLink::before {
                content: ", ";
                color: unset;
                text-decoration: none;
            }
            html { overflow-y: auto }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container fluid>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="8" align="center">
                                <h1 stype="font-size: 3.2rem;">Roulette Rivals Records</h1>
                                <br>
                                <span style="font-style: italic;">
                                    Records are timed using the spin-timer, starting at the arrival of the spin, ending at pressing "Done" on the Roulette page, or exiting the level.<br>
                                    Multi-map records are calculated by adding up the spin-timers of all maps.
                                </span>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col justify="center" md="8">
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th>Record</th>
                                                <th>Maps</th>
                                                <th>Time</th>
                                                <th>Players</th>
                                                <th>Match</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="record in records" v-if="!record.isMapRecord" :key="record.category">
                                                <td>{{ record.category }}</td>
                                                <td>{{ record.details }}</td>
                                                <td>{{ secondsToTimeString(record.time) }}</td>
                                                <td>
                                                    <a v-for="player in record.players" :href="'/' + player" class="playerLink">{{ player }}</a>
                                                </td>
                                                <td><a :href="record.videoLink">{{ record.match }}</a></td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col md="8" justify="center">
                                <v-divider></v-divider>
                                <br><h3>Per-Map-Records</h3><br><br>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th>Map</th>
                                                <th>Spin</th>
                                                <th>Time</th>
                                                <th>Player</th>
                                                <th>Match</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="record in records" v-if="record.isMapRecord" :key="record.category">
                                                <td>{{ record.category }}</td>
                                                <td>{{ record.details }}</td>
                                                <td>{{ secondsToTimeString(record.time) }}</td>
                                                <td><a v-for="player in record.players" :href="'/' + player" class="playerLink">{{ player }}</a></td>
                                                <td><a :href="record.videoLink">{{ record.match }}</a></td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                        <v-row>
                            <v-col md="12">
                                <v-footer absolute padless>
                                    <span style="font-style: italic; text-align: center; width: 100%">Made with precision german engineering, calculated hungarian stats & accurate german timings.</span>
                                </v-footer>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            let vue = new Vue({
                el: '#app',
                vuetify: new Vuetify({theme: { dark: true }}),
                data () {
                    return {
                        records: []
                    }
                },
                async created() {
                    let recordData = await axios.get('/api/records');
                    this.records = recordData.data;
                },
                methods: {
                    secondsToTimeString(timeInSeconds) {
                        let minutes = Math.floor(timeInSeconds / 60);
                        timeInSeconds %= 60;
                        let hours = Math.floor(minutes / 60);
                        minutes %= 60;
                        let s = "";
                        if(hours > 0) {
                            s += hours + ":"
                            if(minutes > 10) {
                                s += minutes + ":"
                            } else {
                                s += "0" + minutes + ":"
                            }
                        } else {
                            s += minutes + ":";
                        }
                        if(timeInSeconds > 10) {
                            s += timeInSeconds
                        } else {
                            s += "0" + timeInSeconds
                        }
                        return s
                    }
                }
            });
        </script>
    </body>
</html>